body{
    font-family: "Crimson Text", "Times New Roman", serif;
    font-size: 110%;
    background-color:#F2FFFC;
    line-height: 1.5;
}

p{
    text-align: justify;
    font-family: "Crimson Text", "Times New Roman", serif;
    font-size: 110%;
}
.cabecalho{
    background-color: #00008b;
    text-align: center;
    padding: 2rem;
    border-bottom: 0.5rem solid #000;
}
header img{
        width: 75%;
    }

.menu{
    background-color: #00008b;
    color: #fff;
    padding: 20px;
    width: 20%;
    text-align: center;
    text-transform: uppercase;
}
.texto{
    width:  720px;
    margin:auto;
    padding: 30px 0;
}
anside a{
    color: inherit;
}
nav a {
    color:#fff;
    font-family: "Arial Black", "Arial", sans-serif;
    font-size: .7em;
}

li{
    display: list-item;
    list-style-type: none;

}
.rodape{
    background-color: #000;
    padding: 10px;
    font-family:"Open Sans Condensed", "Arial", sans-serif;
    width: 100%;
    margin:0;
    color: #F2FFFC;
    text-align: center;
}

h1, h2{
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}
main h1{
    text-align: center;
}



main{
    width: 80%;
    margin: auto;
}
h2{
    clear: both;
}
main{
    width: 80%;
    float:left;
}
aside {
    width: 20%;
    float:right;
}
aside{
    clear:right;
    box-sizing: border-box;
    border-bottom: 10px solid #000;
    border-left: 10px solid #000;
}

aside img{
    width: 90%;
}
footer{
    clear:both;
}

.fotos_texto{
    border: 55px solid #C2CCCA;
}

.box_time{
    background-color: #FFF;
    border: 0px solid #000;
    margin:0.5em;
    padding:.8em;
    width: 18em;
    height:27em;
    box-sizing: border-box;
    float:left;
}

div h3{
    text-transform: uppercase;
}
.box_fotos{
    border:2px solid #a2a141;
    margin: 5px;
    padding: 5px;
    width: auto;
    height: auto;
    float:left;
    box-sizing: border-box;
    background-color:#a2a141;
}

table td{
    text-align: center;
    padding: 3px;
    margin: 3px;
    border-color: #fff;
}

.botao-index{
  font-size: 1.25em;
  background-color: #00008b;
  color:#FFF;
  padding: .5em;
  border:.2em solid black;
  width: 40ch;
  margin: 2em auto;
  display: block;
  text-align: center;
}
